/dev/disp                   0660    system      system
/dev/cedar_dev              0660    system      system
/dev/ace_dev                0660    system      system
/dev/ump                    0660    system      graphics
/dev/mali                   0660    system      graphics
/dev/video*                 0660    system      system
/dev/snd/pcmC0D0c           0660    system      media
/dev/snd/pcmC0D0p           0660    system      media
/dev/ttyUSB0                0660    system      system
/dev/ttyUSB1                0660    system      system
/dev/ttyUSB2                0660    system      system
/dev/ttyUSB3                0660    system      system
/dev/ttyACM0                0660    system      system
/dev/ttyACM1                0660    system      system
/dev/ttyACM2                0660    system      system
/dev/ttyS*	                0660    system      system
/dev/gps                    0660    system      system
/dev/pa_dev                 0660    system      system
/dev/sunxi_mem              0660    media       media
/dev/g2d                    0660    system      system
/dev/sr0                    0660    system      system
/dev/ion                    0666    system      graphics
/dev/rtk_btusb              0660    bluetooth   bluetooth
/dev/block/nand*            0660    root        root
/dev/block/nandf            0660    root        system
